# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

git rm -r --cached node_modules dist
git add node_modules dist
git commit -m "Add node_modules and dist to repo"
git push


# Local environment files
*.local
.env

# Bolt-specific cache
.bolt/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript cache
*.tsbuildinfo
